body {
    font-family: 'Lato', sans-serif;
    /*Before 400px break point*/
    font-size: 1.5rem;
	padding: 1.5rem;
    margin-top: 50px;
    /*For centering */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*After 400px break point*/
@media screen and (min-width: 410px){
    body {
        margin-top: 70px;
        font-size: 2rem;
        padding: 2rem;
    }
}
h1 {
    font-style: italic;
    transition: 0.5s;
}
article {
    transition: 0.5s;
}
.switch {
    margin: 1rem;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #555;
    border-radius: 2rem;
    width: 3.1rem;
    font-size: 2.25rem;
    padding: 0.2rem;
    margin-left: 0.5rem;
	padding-bottom: 0.4rem;
}
.dark,
.dark * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
    transition: 0.5s;
}